body {
    background-color: black;
}

body > div {
    min-height: 100vh;
    background: linear-gradient(90deg, #8800FF60, black,black,black,black,black,black,black,black, #8800FF60) !important;
    
    @media screen and (max-width: 630px) {
        background: linear-gradient(90deg, #8800FF60, black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black,black, #8800FF60) !important;
    }

    > .segment {
        height: 100vh;
        overflow: scroll;

        width: 80%;
        margin: auto !important;
        background-color: transparent !important;

        @media screen and (max-width: 630px) {
            width: 98%;
        }

        .project {
            > .image-div {
                overflow: hidden;
                width: fit-content; 
                height: fit-content; 
                border-radius: 10px;
                margin-bottom: 15px;
            }

            > .header:nth-child(1) {
                font-size: 40px !important;
            }

            > span {
                font-size: 30px;
                line-height: 30px;
            }

            + .project {
                margin-top: 30px;
            }

            width: 70%;

            @media screen and (max-width: 1000px) {
                width: 90%;

                > span {
                    font-size: 25px;
                    line-height: 25px;
                }

                > .header:nth-child(1) {
                    font-size: 35px !important;
                }
            }
            
            @media screen and (max-width: 630px) {
                > span {
                    font-size: 20px;
                    line-height: 18px;
                }

                .image-div {
                    margin-left: 10px !important;

                    > img {
                        width: 100px;
                    }
                }

                > .header:nth-child(1) > span {
                    display: block;
                }
            }

            @media screen and (max-width: 610px) {
                width: 100%;
            }
        }

        .left.project {
            float: left;
            text-align: left;

            > .image-div {
                margin-right: 30px;
                float: left;
            }
        }

        .right.project {
            float: right;
            text-align: right;

            > .image-div {
                margin-left: 30px;
                float: right;
            }
        }
    }
}