body {
    background-color: black;
}

body > div {
    min-height: 100vh;
    background: linear-gradient(90deg, #8800FF60, black,black,black,black,black,black,black,black, #8800FF60) !important;
    
    > .segment {
        min-height: 100vh;

        width: 80%;
        margin: auto !important;
        background-color: transparent !important;

        .project {
            > .image-div {
                background-color: #80808045;
                width: fit-content; 
                height: fit-content; 
                border-radius: 10px;
                margin-bottom: 15px;
            }

            > .header:nth-child(1) {
                font-size: 40px !important;
            }

            > span {
                font-size: 30px;
                line-height: 30px;
            }

            + .project {
                margin-top: 30px;
            }
        }

        .project::before {
            content: "";
            height: 2px;
            background-color: white;
        }

        .left.project {
            float: left;
            text-align: left;

            > .image-div {
                margin-right: 30px;
                float: left;
            }

            width: 70%;
        }

        .right.project {
            float: right;
            text-align: right;

            > .image-div {
                margin-left: 30px;
                float: right;
            }

            width: 70%;
        }
    }
}