{
    "server": {
        "ip": "127.0.0.1",
        "port": 8000,
        "dev": true
    },
    "cookies": {
        "encryption_passphrase": "",
        "encryption_algo": "AES-256-CTR"
    },
    "discord": {
        "client_id": "",
        "client_secret": "",
        "redirect_uri": "",
        "admin_snowflakes": ["232224992908017664"]
    }
}