{
    "server": {
        "ip": "127.0.0.1",
        "port": 8000,
        "dev": false,
        "devPasswordHash": "",
        "devSessionToken": ""
    },
    "cookies": {
        "passphrase": "",
        "algo": "AES-256-CTR"
    }
}