body {
  background-color: black;
}
body > div {
  min-height: 100vh;
  background: linear-gradient(270deg, #000000, #8800FF60, #000000);
  background-size: 100% 100%;
  background-position: 50% 50%;
  animation: bgAnim 7s ease-in-out 200ms infinite alternate forwards;
  min-height: 100vh;
  padding: 0 30px;
}
@keyframes bgAnim {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 100%;
  }
}
#nametag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  border-radius: 0 !important;
}
#nametag > img {
  width: 250px;
  height: auto;
}
#nametag > div {
  margin-left: 30px;
}
#nametag > div p {
  margin: -10px 0;
  color: white;
}
#nametag > div > p:nth-child(1) {
  font-weight: bold;
  font-size: 40px;
}
#nametag > div > p:nth-child(2) {
  font-size: 25px;
  opacity: 0.5;
}
@media screen and (max-width: 630px) {
  #nametag > img {
    width: 190px;
  }
  #nametag > div {
    margin-left: 20px;
  }
  #nametag > div > p:nth-child(1) {
    font-size: 35px;
  }
  #nametag > div > p:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  #nametag > img {
    width: 130px;
  }
  #nametag > div {
    margin-left: 20px;
  }
  #nametag > div > p:nth-child(1) {
    font-size: 28px;
  }
  #nametag > div > p:nth-child(2) {
    margin-top: 3px;
    font-size: 18px;
  }
}
#buttons .column {
  background: linear-gradient(transparent 50%, #8800FF);
  background-size: 200% 200%;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 15px;
  transition: 0.5s;
  cursor: pointer;
}
#buttons .column > div {
  font-size: 1.5em !important;
}
@media screen and (max-width: 510px) {
  #buttons .column > div {
    font-size: 1.2em !important;
  }
}
@media screen and (min-width: 768px) {
  #buttons div.row + div.row {
    margin-top: -30px;
  }
}
#buttons .column:hover {
  background-position-y: 100%;
}
#iam {
  text-align: center;
}
#iam > span {
  color: white;
  opacity: 0.5;
  font-size: 30px;
}
@media screen and (max-width: 630px) {
  #iam > span {
    font-size: 25px;
  }
}
#contact {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1130px) {
  #contact {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 25px !important;
  }
  #contact > div:nth-child(1) {
    display: none;
  }
  #contact > div:nth-child(2) {
    display: none;
  }
  #contact > div:nth-child(3) {
    display: block !important;
  }
}
@media screen and (max-width: 630px) {
  #contact > div:nth-child(3) > span {
    font-size: 27px;
    line-height: 40px;
  }
}
@media screen and (max-width: 510px) {
  #contact > div:nth-child(3) > span {
    font-size: 23px;
  }
}
#contact > div {
  height: 100px;
  line-height: 50px;
  height: fit-content;
}
#contact > div > span {
  color: white;
  font-size: 35px;
}
#contact > div:nth-child(1) {
  float: left;
}
#contact > div:nth-child(2) {
  float: right;
}
#contact > div:nth-child(3) {
  display: none;
  text-align: center;
  margin-top: 10px;
}
#contact > div:nth-child(2) {
  text-align: right;
}
#contact > div:nth-child(2) > span {
  z-index: 1;
}
#contact > div:nth-child(2) > img {
  display: block;
  transition: 0.5s;
  margin-top: -210px;
}
@media (max-width: 1650px) or (max-height: 625px) {
  #contact > div:nth-child(2) > img {
    opacity: 0;
  }
}
