body {
  background-color: black;
}
body > div {
  min-height: 100vh;
  background: linear-gradient(90deg, #8800FF60, black, black, black, black, black, black, black, black, #8800FF60) !important;
  padding-top: 50px;
}
body > div > form {
  width: 80%;
  margin: auto;
}
body > div > form .calendar {
  margin-top: 5px !important;
}
body > div > form .calendar i {
  margin: 0 !important;
}
body > div span {
  color: white;
}
body > div form span + input, body > div form span + textarea {
  margin-top: 5px !important;
}
