body {
  background-color: black;
}
body > div {
  min-height: 100vh;
  background: linear-gradient(90deg, #8800FF60, black, black, black, black, black, black, black, black, #8800FF60) !important;
}
@media screen and (max-width: 630px) {
  body > div {
    background: linear-gradient(90deg, #8800FF60, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, black, #8800FF60) !important;
  }
}
body > div > .segment {
  height: 100vh;
  overflow: scroll;
  width: 80%;
  margin: auto !important;
  background-color: transparent !important;
}
@media screen and (max-width: 630px) {
  body > div > .segment {
    width: 98%;
  }
}
body > div > .segment .project {
  width: 70%;
}
body > div > .segment .project > .image-div {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}
body > div > .segment .project > .header:nth-child(1) {
  font-size: 40px !important;
}
body > div > .segment .project > span {
  font-size: 30px;
  line-height: 30px;
}
body > div > .segment .project + .project {
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  body > div > .segment .project {
    width: 90%;
  }
  body > div > .segment .project > span {
    font-size: 25px;
    line-height: 25px;
  }
  body > div > .segment .project > .header:nth-child(1) {
    font-size: 35px !important;
  }
}
@media screen and (max-width: 630px) {
  body > div > .segment .project > span {
    font-size: 20px;
    line-height: 18px;
  }
  body > div > .segment .project .image-div {
    margin-left: 10px !important;
  }
  body > div > .segment .project .image-div > img {
    width: 100px;
  }
  body > div > .segment .project > .header:nth-child(1) > span {
    display: block;
  }
}
@media screen and (max-width: 610px) {
  body > div > .segment .project {
    width: 100%;
  }
}
body > div > .segment .left.project {
  float: left;
  text-align: left;
}
body > div > .segment .left.project > .image-div {
  margin-right: 30px;
  float: left;
}
body > div > .segment .right.project {
  float: right;
  text-align: right;
}
body > div > .segment .right.project > .image-div {
  margin-left: 30px;
  float: right;
}
